.u-section-1 .u-sheet-1 {
  min-height: 602px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 432px;
  background-image: url("images/image81.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-bottom-style: double;
  margin: 33px 15px 47px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1112em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-1 .u-image-1 {
    min-height: 273px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1 .u-image-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 379px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 430px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-1 {
  height: 370px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-back-image-1 {
  object-position: 100% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-3 .u-gallery-1 {
    height: 305px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1332px;
  }

  .u-section-3 .u-gallery-1 {
    height: 701px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1014px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1577px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-3 .u-gallery-1 {
    height: 993px;
  }
} .u-section-4 {
  background-image: linear-gradient(white, #f2f2f2);
}

.u-section-4 .u-sheet-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: -873px;
}

.u-section-4 .u-image-1 {
  width: 368px;
  height: 254px;
  margin: -198px 206px 23px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: -53px;
  }

  .u-section-4 .u-image-1 {
    height: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 172px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 236px;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(#f2f2f2, white);
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 925px;
  margin: 6px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 684px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 19px;
}

.u-section-5 .u-gallery-1 {
  height: 655px;
  width: 413px;
  margin: 11px 0 0 auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 45px 45px;
  grid-template-columns: auto;
}

.u-section-5 .u-back-image-1 {
  object-position: 42.96% 50%;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 684px;
}

.u-section-5 .u-container-layout-2 {
  padding: 11px 30px;
}

.u-section-5 .u-gallery-2 {
  height: 643px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-gallery-1 {
    height: 561px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-5 .u-gallery-1 {
    height: 430px;
    width: 384px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-gallery-2 {
    height: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 748px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-2 {
    height: 901px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 471px;
  }

  .u-section-5 .u-gallery-1 {
    height: 539px;
    width: 340px;
  }

  .u-section-5 .u-gallery-2 {
    height: 554px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  margin: 43px 0 0;
}.u-section-7 .u-sheet-1 {
  min-height: 818px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 35px auto 0;
}

.u-section-7 .u-gallery-1 {
  height: 640px;
  grid-gap: 17px 17px;
  width: 295px;
  margin: 33px auto 0 25px;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 25px 25px;
}

.u-section-7 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-2 {
  height: 633px;
  width: 795px;
  margin: -633px 0 58px auto;
}

.u-section-7 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-7 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-back-image-4 {
  object-position: 50% 33.87%;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-7 .u-gallery-1 {
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-7 .u-gallery-2 {
    width: 640px;
    margin-top: -637px;
    margin-bottom: 0;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 3093px;
  }

  .u-section-7 .u-gallery-2 {
    height: 2531px;
  }

  .u-section-7 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2468px;
  }

  .u-section-7 .u-gallery-2 {
    width: 540px;
    margin-bottom: 58px;
    height: 2136px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-7 .u-gallery-2 {
    width: 340px;
    height: 1345px;
  }
}