 .u-section-1 {
  min-height: 508px;
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-post-details-1 {
  min-height: 528px;
  margin: 0 0 0 -77px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 28px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 294px;
  width: 672px;
  box-shadow: 7px 6px 40px 11px rgba(192,192,192,0.2);
  margin: 37px auto 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -259px 26px 0 728px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-bottom-style: double;
  margin: 101px 30px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1112em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-post-details-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 201px;
    width: 460px;
    margin-top: 68px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -227px;
    margin-right: 12px;
    margin-left: 494px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none none double;
    font-size: 0.75rem;
    margin-top: 148px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-post-details-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -676px;
    margin-left: 286px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 102px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-post-details-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-post-details-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 149px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -497px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 675px;
}

.u-section-2 .u-text-1 {
  text-decoration: underline !important;
  margin: 26px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 51px 13px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1210px;
}

.u-section-3 .u-text-1 {
  margin: 0 620px 0 78px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 503px);
  background-image: linear-gradient(to right, white, #fdfaf8);
  margin: -409px 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 617px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-2 {
  width: 289px;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-3 .u-gallery-1 {
  height: 497px;
  width: 456px;
  margin: 55px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 10.57%;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-back-image-6 {
  object-position: 50% 78.34%;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 3px;
}

.u-section-3 .u-gallery-2 {
  height: 428px;
  width: 488px;
  margin: 36px auto 0;
}

.u-section-3 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-3 {
  position: absolute;
  left: -16px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -26px;
}

.u-section-3 .u-text-3 {
  margin: -616px calc(((100% - 1140px) / 2) + 570px) 18px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 498px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 503px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-3 .u-gallery-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 370px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 311px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 278px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 503px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 150px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 98px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 503px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-gallery-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-4 .u-sheet-1 {
  min-height: 488px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(120deg, #f2f2f2, white);
}

.u-section-5 .u-sheet-1 {
  min-height: 154px;
}

.u-section-5 .u-text-1 {
  width: 135px;
  margin: 17px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
  margin: 22px auto 33px;
  padding: 0 17px 1px 16px;
}

.u-section-5 .u-icon-1 {
  font-size: 2.5715em;
  margin-right: 6px;
} .u-section-6 {
  background-image: linear-gradient(to right, #f2f2f2, white);
}

.u-section-6 .u-sheet-1 {
  min-height: 140px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 48px auto 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -48px 0 44px auto;
}

.u-section-6 .u-icon-2 {
  font-size: 1.1112em;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-2 {
    margin-top: -55px;
    margin-bottom: 45px;
    padding: 13px 31px 14px 29px;
  }
}