 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
  min-height: 1158px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  margin: 60px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 20px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/DSC_0074-2.jpg");
  background-position: 22.58% 50%;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + 250px);
}

.u-section-1 .u-list-1 {
  width: 1100px;
  margin: -105px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 350px;
  grid-gap: 26px 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  width: 32px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-2 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 32px;
  width: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-6 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-3 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 32px;
  width: 32px;
  margin-top: auto;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 169px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.625rem;
  font-weight: 300;
  margin: -360px calc(((100% - 1140px) / 2) + -15px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 220px);
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
    min-height: 260px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: -16px;
    padding: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-icon-3 {
    margin: 4px auto 0;
  }

  .u-section-1 .u-icon-4 {
    margin-left: -16px;
    padding: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 187px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 6px;
    padding: 14px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 85px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
  }

  .u-section-1 .u-icon-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 162px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 213px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 114px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 195px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2) + 120px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: -18px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 134px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-left: 154px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: -4px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 285px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 928px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 29px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-list-1 {
    width: 306px;
    margin-top: -55px;
    margin-right: calc(((100% - 340px) / 2) + 20px);
    margin-left: calc(((100% - 1140px) / 2) + 417px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 379px;
    grid-gap: 11px 11px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 1px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 1px;
    margin-left: 24px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 24px;
    padding: 14px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 1px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 1px;
    margin-left: 24px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 24px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 1px;
    margin-left: 97px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 1px;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 164px;
    margin-right: calc(((100% - 1140px) / 2) + 385px);
  }
} .u-section-2 {
  min-height: 834px;
}

.u-section-2 .u-shape-1 {
  height: 271px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(#e5e5e5, white);
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -271px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 848px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-2 {
  height: 228px;
  background-image: linear-gradient(#e5e5e5, white);
  width: 1240px;
  margin: -95px auto 0 -3px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  margin: -133px 100px 0 83px;
}

.u-section-2 .u-slider-1 {
  min-height: 699px;
  width: 580px;
  margin: 51px 54px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 13px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 66px;
}

.u-section-2 .u-icon-1 {
  height: 77px;
  width: 77px;
  color: rgb(0, 0, 0) !important;
  margin: 46px 365px 0 41px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -36px 41px 0 136px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.6;
  font-style: normal;
  margin: 66px 14px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 132px;
  margin: 106px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 63px;
}

.u-section-2 .u-icon-2 {
  height: 72px;
  width: 72px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto 0 16px;
  padding: 2px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  margin: -48px 10px 0 99px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.8;
  margin: 31px 33px 0 55px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 208px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-2 .u-icon-3 {
  height: 72px;
  width: 72px;
  margin: 28px 440px 0 36px;
  padding: 9px;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -39px 11px 0 108px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  margin: 36px 49px 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  width: 307px;
  font-size: 1.5rem;
  margin: 48px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  margin: 8px 11px 0 auto;
  padding: 6px 25px 7px 24px;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  width: 43px;
  margin: -38px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 36px;
}

.u-section-2 .u-icon-4 {
  height: 72px;
  width: 72px;
  margin: 59px auto 0 7px;
  padding: 13px;
}

.u-section-2 .u-text-14 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -41px 7px 0 103px;
}

.u-section-2 .u-list-1 {
  width: 494px;
  margin: 53px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  min-height: 377px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  line-height: 2.7;
  font-size: 1rem;
  margin: 12px -9px 0 9px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  text-decoration: underline !important;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  line-height: 2.7;
  font-size: 1.125rem;
  margin: 12px -9px 0 9px;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 300px;
  margin: 66px auto 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-weight: 400;
  width: 56px;
  margin: 0 auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 8px;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 8px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/DSC_00732.jpg");
  background-position: 0% 74.47%;
  background-size: auto 110%;
  min-height: 848px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 11px 48px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-2 .u-shape-2 {
    width: 548px;
    margin-top: -54px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -125px;
    margin-right: 42px;
    margin-left: 25px;
  }

  .u-section-2 .u-slider-1 {
    width: 548px;
    height: auto;
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 292px;
  }

  .u-section-2 .u-text-2 {
    width: 250px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.9;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-text-6 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 362px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.9;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    min-height: 376px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-image-1 {
    min-height: 699px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 823px;
  }

  .u-section-2 .u-shape-2 {
    width: 420px;
    margin-top: -21px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -158px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-slider-1 {
    width: 420px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 239px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 276px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-text-11 {
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-20 {
    margin-right: 63px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    min-height: 535px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1041px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 188px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 206px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-20 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 963px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 840px;
  }

  .u-section-2 .u-shape-1 {
    height: 156px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -172px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 729px;
    order: 1;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -115px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -64px;
  }

  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-top: 40px;
    margin-right: 116px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -29px;
    margin-right: 60px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: 300px;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 60px;
    margin-right: 140px;
    margin-left: 155px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -1px;
  }

  .u-section-2 .u-icon-2 {
    height: 55px;
    width: 55px;
    margin-top: 32px;
    margin-left: 33px;
    padding: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -34px;
    margin-right: 15px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-right: 49px;
    margin-left: 55px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 1rem;
    margin-top: 101px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-3 {
    height: 52px;
    width: 52px;
    margin-top: 33px;
    margin-right: 128px;
    margin-left: 35px;
    padding: 6px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -29px;
    margin-right: 32px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-11 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 63px;
    margin-right: 52px;
    margin-left: 61px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -67px;
    margin-right: 11px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-left: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 32px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 53px;
    width: 53px;
    margin-top: 30px;
    margin-left: 17px;
    padding: 8px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: -29px;
    margin-right: 10px;
    margin-left: 83px;
  }

  .u-section-2 .u-list-1 {
    width: 357px;
    margin-top: 30px;
    margin-right: 10px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    min-height: 400px;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-text-15 {
    width: 104px;
    font-size: 1.25rem;
    margin-top: 5px;
  }

  .u-section-2 .u-text-16 {
    line-height: 2.2;
    width: auto;
    margin-top: 68px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    width: 104px;
    font-size: 1.25rem;
    margin-top: 5px;
  }

  .u-section-2 .u-text-18 {
    font-size: 1rem;
    line-height: 2.2;
    width: auto;
    margin-top: 68px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    font-size: 1.125rem;
    margin-top: -36px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 302px;
    background-position: 0% 32.55%;
    order: 0;
  }
} .u-section-3 {
  min-height: 1643px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 64px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 8px 96px 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 400px;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + 92px);
}

.u-section-3 .u-gallery-1 {
  height: 811px;
  grid-template-columns: auto auto auto;
  width: 381px;
  grid-gap: 10px 10px;
  margin: -400px calc(((100% - 1140px) / 2) + 46px) 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 16px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: -754px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 20px 30px 22px;
}

.u-section-3 .u-gallery-2 {
  height: 411px;
  grid-template-columns: auto auto auto;
  width: 563px;
  grid-gap: 10px 10px;
  margin: 301px auto 60px calc(((100% - 1140px) / 2) + 92px);
}

.u-section-3 .u-carousel-indicators-2 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-video-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }

  .u-section-3 .u-gallery-1 {
    margin-right: calc(((100% - 940px) / 2) + 46px);
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 92px);
  }

  .u-section-3 .u-gallery-1 {
    margin-top: -516px;
    margin-right: calc(((100% - 720px) / 2) + 46px);
  }

  .u-section-3 .u-btn-1 {
    margin-top: 905px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    grid-template-columns: auto auto;
    margin-top: 254px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1622px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 379px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 2167px;
    margin-right: calc(((100% - 540px) / 2) + 46px);
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    grid-template-columns: auto;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1482px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 239px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: -1020px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-gallery-2 {
    width: 412px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-gallery-inner-2 {
    grid-template-columns: auto auto;
    grid-gap: 8px 8px;
  }
}