 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  margin: 15px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/DSC_0074-2.jpg");
  background-position: 22.58% 50%;
  margin: 17px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1100px;
  margin: -105px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 350px;
  grid-gap: 26px 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  width: 32px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-2 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 32px;
  width: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-6 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-7 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-3 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 32px;
  width: 32px;
  margin-top: auto;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 169px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.625rem;
  font-weight: 300;
  margin: -360px -15px 114px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 220px;
  }

  .u-section-1 .u-list-1 {
    min-height: 338px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 338px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 20px 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
    margin-left: 15px;
    padding: 3px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -48px;
    margin-right: 30px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-1 .u-icon-3 {
    margin: 4px auto 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
    margin-left: 15px;
    padding: 7px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -48px;
    margin-right: 30px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 39px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 20px 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 0;
    margin-left: 15px;
    padding: 3px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -48px;
    margin-right: 30px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 39px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-nav-1 {
    left: -11px;
    top: 149px;
  }

  .u-section-1 .u-gallery-nav-2 {
    left: auto;
    top: 149px;
    right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 85px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1174px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-1 {
    width: 522px;
    height: 522px;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    min-height: 378px;
    margin-top: -68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 379px;
    grid-gap: 18px 18px;
    grid-auto-columns: calc(50% - 9px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: 10px;
    padding: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 38px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 35px;
    margin-right: 66px;
    margin-left: 38px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 10px;
    padding: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 38px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 35px;
    margin-right: 66px;
    margin-left: 38px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 10px;
    padding: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 38px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 35px;
    margin-right: 66px;
    margin-left: 38px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 6px;
  }

  .u-section-1 .u-gallery-nav-1 {
    left: 0;
  }

  .u-section-1 .u-gallery-nav-2 {
    top: 169px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 160px;
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-1 {
    width: 441px;
    height: 441px;
    margin-top: 19px;
  }

  .u-section-1 .u-list-1 {
    min-height: 424px;
    margin-top: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 423px;
    grid-gap: 11px 11px;
    grid-auto-columns: calc(50% - 5.5px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 12px;
    padding: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -54px;
    margin-right: 33px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-4 {
    width: 211px;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 12px;
    padding: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -54px;
    margin-right: 33px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-6 {
    width: 211px;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: 7px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 12px;
    padding: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -54px;
    margin-right: 33px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-8 {
    width: 211px;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-gallery-nav-1 {
    top: 192px;
  }

  .u-section-1 .u-gallery-nav-2 {
    top: 192px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 21px;
    margin-right: 285px;
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 175px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -56px;
    min-height: 378px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 385px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-2 {
    height: 67px;
    width: 67px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -45px;
    margin-right: 24px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-right: 8px;
    margin-left: 35px;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-4 {
    height: 67px;
    width: 67px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -45px;
    margin-right: 24px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 41px;
    margin-right: 8px;
    margin-left: 35px;
  }

  .u-section-1 .u-rotation-parent-2 {
    margin-top: 19px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-icon-6 {
    height: 67px;
    width: 67px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -45px;
    margin-right: 24px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 41px;
    margin-right: 8px;
    margin-left: 35px;
  }

  .u-section-1 .u-rotation-parent-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 206px;
    margin-right: 385px;
    margin-bottom: -155px;
  }
} .u-section-2 {
  min-height: 964px;
}

.u-section-2 .u-shape-1 {
  height: 271px;
  background-image: linear-gradient(#e5e5e5, white);
  width: 1140px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -297px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: linear-gradient(#f2f2f2, white);
  min-height: 964px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 48px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 26px 497px 0 99px;
}

.u-section-2 .u-slider-1 {
  min-height: 828px;
  width: 802px;
  height: auto;
  margin: 52px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 131px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 34px;
}

.u-section-2 .u-icon-1 {
  height: 77px;
  width: 77px;
  color: rgb(0, 0, 0) !important;
  margin: 46px auto 0 75px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -56px 120px 0 151px;
}

.u-section-2 .u-text-3 {
  line-height: 2.1;
  font-style: normal;
  margin: 87px 40px 0 52px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: 700;
  font-style: italic;
  line-height: 1.31;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  text-decoration: underline;
  font-weight: normal;
  width: 132px;
  margin: 186px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  width: 25px;
  margin: 7px auto 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 0 7px;
}

.u-section-2 .u-icon-2 {
  height: 72px;
  width: 72px;
  margin: 61px auto 0 32px;
  padding: 9px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  font-size: 1.875rem;
  margin: -72px 11px 0 108px;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  margin: 48px 49px 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.75rem;
  width: 307px;
  font-weight: normal;
  text-decoration: underline !important;
  margin: 52px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 355px 0 348px;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 72px;
  width: 72px;
  margin: 60px auto 0 43px;
  padding: 13px;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -54px 44px 0 127px;
}

.u-section-2 .u-list-1 {
  width: 670px;
  margin: 66px 36px 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  min-height: 377px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  line-height: 2.7;
  font-size: 1rem;
  margin: 32px 29px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  line-height: 2.7;
  font-size: 1rem;
  margin: 32px 29px 0;
}

.u-section-2 .u-text-15 {
  font-size: 0.75rem;
  text-decoration: underline;
  width: 300px;
  font-weight: normal;
  margin: 88px auto 0;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  font-weight: 400;
  width: 56px;
  margin: 6px auto 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 78px 44px 0 127px;
}

.u-section-2 .u-icon-4 {
  height: 72px;
  width: 72px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: -54px auto 0 40px;
  padding: 2px;
}

.u-section-2 .u-list-2 {
  width: 354px;
  margin: 42px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 377px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-18 {
  line-height: 2.7;
  font-size: 1rem;
  margin: 0 29px;
}

.u-section-2 .u-text-19 {
  font-size: 0.75rem;
  text-decoration: underline;
  width: 300px;
  font-weight: normal;
  margin: 94px auto 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-weight: 400;
  width: 56px;
  margin: 6px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 11px;
  position: absolute;
  top: 304px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  top: 304px;
  right: 11px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/photo_2022-02-25_01-32-40.jpg");
  background-position: 53.61% 50%;
  min-height: 964px;
}

.u-section-2 .u-container-layout-9 {
  padding: 7px 49px 16px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 795px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 990px);
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 1388px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 795px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 153px;
    margin-left: 49px;
  }

  .u-section-2 .u-slider-1 {
    width: 625px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
    margin-left: 51px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 255px;
    margin-left: 248px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 795px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 609px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 880px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-2 .u-slider-1 {
    width: 486px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 145px;
    margin-left: 138px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    min-height: 609px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1712px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 790px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 55px;
    margin-left: 48px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 1612px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1115px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 690px);
    margin-top: 464px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -735px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 6px;
  }

  .u-section-2 .u-slider-1 {
    width: 330px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1015px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1765px;
}

.u-section-3 .u-group-1 {
  background-image: linear-gradient(#e5e5e5, white);
  min-height: 83px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 186px;
  margin: 12px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 79px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 392px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 7px 30px;
}

.u-section-3 .u-image-1 {
  width: 336px;
  height: 336px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 27px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 392px;
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 30px 65px 23px 0;
}

.u-section-3 .u-text-2 {
  margin: 0 auto 0 21px;
}

.u-section-3 .u-text-3 {
  margin: 40px 0 0 21px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 72px auto 0 21px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 23px 21px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 40px 44px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 72px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 393px;
}

.u-section-3 .u-container-layout-5 {
  padding: 19px 30px;
}

.u-section-3 .u-image-2 {
  height: 340px;
  width: 323px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 393px;
}

.u-section-3 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-3 .u-image-3 {
  width: 360px;
  height: 257px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 13px auto 0 34px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 393px;
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 23px 0 23px 63px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 40px 39px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 72px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 210px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 65px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 0.4;
  letter-spacing: 3px;
}

.u-section-3 .u-image-4 {
  width: 332px;
  height: 149px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px 128px 0 auto;
}

.u-section-3 .u-text-9 {
  margin: -101px auto 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 43px auto 7px 0;
  padding: 2px 26px 4px 24px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5417em;
  margin-left: 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 209px;
    margin-right: calc(((100% - 1140px) / 2) + 466px);
    margin-left: calc(((100% - 1140px) / 2) + 465px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    transition-duration: 0.5s;
    min-height: 323px;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 312px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-3 .u-layout-cell-3 {
    transition-duration: 0.5s;
    min-height: 334px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 324px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 324px;
  }

  .u-section-3 .u-image-3 {
    height: 223px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 324px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 247px;
  }

  .u-section-3 .u-image-1 {
    width: 224px;
    height: 224px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 248px;
  }

  .u-section-3 .u-image-2 {
    height: 313px;
    width: 297px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 248px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
    height: 160px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 372px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 465px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 8px;
    margin-right: calc(((100% - 340px) / 2) + 10px);
    margin-left: calc(((100% - 340px) / 2) + 121px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 139px;
    height: 162px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -103px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
    margin-left: 11px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 61px;
    margin-right: 176px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 142px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 30px;
    margin-bottom: -320px;
    margin-left: 5px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 234px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-3 .u-image-2 {
    height: 170px;
    width: 159px;
    margin-top: -184px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 293px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 97px;
    width: 224px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -253px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 226px;
    margin-left: 10px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 38px;
    margin-left: 21px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 147px;
  }

  .u-section-3 .u-image-4 {
    width: 320px;
    height: 144px;
    margin-right: 0;
  }
}

.u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]).u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]).u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]).u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]).u-block-8c1d-21:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-layout-cell-6,
.u-section-3 .u-layout-cell-6:before,
.u-section-3 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before,
.u-section-3 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}