.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-post-details-1 {
  min-height: 704px;
  margin-top: 60px;
  margin-bottom: 13px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-1 .u-image-1 {
  height: 483px;
  width: 503px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: -464px 389px 0 554px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 34px 0 575px;
}

.u-section-1 .u-metadata-1 {
  margin: 409px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 188px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -592px;
    margin-right: 289px;
    margin-left: 454px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 45px;
    margin-right: 0;
    margin-left: 408px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 502px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 179px;
    margin-left: 344px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 109px;
    margin-left: 274px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 307px;
    width: 320px;
    margin-top: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -378px;
    margin-right: 9px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -131px;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 477px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-text-1 {
  width: 409px;
  margin: 51px auto 0;
}

.u-section-2 .u-table-1 {
  margin: 32px 0 58px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-10 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1181px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 8px auto 0;
}

.u-section-3 .u-image-1 {
  width: 664px;
  height: 401px;
  margin: 12px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 390px;
  height: 401px;
  margin: -401px 19px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 37px 498px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 6px 212px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -29px auto 0 227px;
}

.u-section-3 .u-image-3 {
  width: 507px;
  height: 543px;
  margin: 19px 19px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 570px;
  height: 543px;
  margin: -543px auto -335px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 326px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -326px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 236px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 11px;
    margin-right: 159px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -25px;
    margin-left: 170px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 30px;
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 514px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 205px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 350px;
    margin-top: -205px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 149px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -116px;
    margin-right: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 102px;
    margin-left: 107px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 364px;
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 324px;
    margin-top: -490px;
  }
}