 .u-section-1 {
  min-height: 706px;
}

.u-section-1 .u-post-details-1 {
  min-height: 812px;
  margin-top: 1px;
  margin-bottom: 1px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 55px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 535px;
  width: 457px;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 51px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: -535px 55px 0 542px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  border-bottom-style: double;
  margin: 83px 23px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1112em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 734px;
  }

  .u-section-1 .u-post-details-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 536px;
    width: 398px;
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -536px;
    margin-right: 41px;
    margin-left: 437px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none none double;
    margin-top: 9px;
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 222px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -771px;
    margin-left: 258px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -721px;
    margin-left: 98px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 465px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 444px;
    width: 330px;
    margin-top: 342px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -616px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 485px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2041px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 14px 0 23px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2760px;
  }
} .u-section-3 {
  background-image: linear-gradient(-120deg, white, #d9d9d9);
}

.u-section-3 .u-sheet-1 {
  min-height: 394px;
}

.u-section-3 .u-text-1 {
  width: 409px;
  margin: 26px auto 0;
}

.u-section-3 .u-table-1 {
  width: 1136px;
  margin: 24px auto 26px;
}

.u-block-631c-48 {
  background-image: none;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-1 {
  background-image: none;
}

.u-section-3 .u-table-cell-3 {
  background-image: none;
}

.u-section-3 .u-table-cell-4 {
  background-image: none;
}

.u-section-3 .u-icon-1 {
  font-size: 1.75em;
  margin-left: 0;
  vertical-align: 0px;
}

.u-section-3 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-15 {
  background-image: none;
  font-weight: 700;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(120deg, #fdfaf8, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 1177px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  text-decoration: none solid rgb(17, 17, 17);
  width: 347px;
  margin: 42px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-4 .u-image-1 {
  height: 369px;
  width: 348px;
  margin: 0 auto 0 62px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-2 {
  height: 370px;
  width: 562px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-3 {
  min-height: 618px;
  background-image: url("images/image5.png");
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  min-height: 618px;
  background-image: url("images/image4.png");
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-text-1 {
    text-decoration: underline !important;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 30px;
    margin-left: 46px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 309px;
    width: 470px;
  }

  .u-section-4 .u-image-3 {
    min-height: 510px;
  }

  .u-section-4 .u-image-4 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-4 .u-image-1 {
    height: 271px;
    width: 284px;
    margin-left: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 309px;
  }

  .u-section-4 .u-image-2 {
    height: 237px;
    width: 360px;
  }

  .u-section-4 .u-image-3 {
    min-height: 391px;
  }

  .u-section-4 .u-image-4 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 470px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-4 .u-image-3 {
    min-height: 587px;
  }

  .u-section-4 .u-image-4 {
    min-height: 587px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-4 .u-image-1 {
    height: 289px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-4 .u-image-2 {
    height: 224px;
    width: 340px;
  }

  .u-section-4 .u-image-3 {
    min-height: 370px;
  }

  .u-section-4 .u-image-4 {
    min-height: 370px;
  }
} .u-section-5 {
  background-image: linear-gradient(120deg, #e5e5e5, white);
}

.u-section-5 .u-sheet-1 {
  min-height: 130px;
}

.u-section-5 .u-text-1 {
  width: 135px;
  margin: 17px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  border-style: solid;
  margin: 14px auto 20px;
  padding: 11px 50px 11px 49px;
}.u-section-6 .u-sheet-1 {
  min-height: 140px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 48px auto 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -48px 0 44px auto;
}

.u-section-6 .u-icon-2 {
  font-size: 1.1112em;
}