 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/DSC_0074-2.jpg");
  background-position: 22.58% 50%;
  margin: 17px auto 0 250px;
}

.u-section-1 .u-list-1 {
  width: 1100px;
  margin: -105px auto 0 -15px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  min-height: 350px;
  grid-gap: 26px 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-3 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  width: 32px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-2 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 32px;
  width: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 21px 15px;
}

.u-section-1 .u-icon-6 {
  height: 73px;
  width: 73px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 6px auto 0 11px;
  padding: 2px;
}

.u-section-1 .u-text-7 {
  font-weight: normal;
  margin: -51px 37px 0 77px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-style: italic;
  width: 247px;
  margin: 36px auto 0;
}

.u-section-1 .u-rotation-parent-3 {
  width: 32px;
  height: 32px;
  margin: 4px auto 0;
}

.u-section-1 .u-icon-7 {
  height: 32px;
  width: 32px;
  margin-top: auto;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.625rem;
  font-weight: 300;
  margin: -360px auto 344px 1153px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
    min-height: 260px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: -16px;
    padding: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 136px;
  }

  .u-section-1 .u-icon-3 {
    margin: 4px auto 0;
  }

  .u-section-1 .u-icon-4 {
    margin-left: -16px;
    padding: 7px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 187px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 6px;
    padding: 14px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-1 .u-icon-7 {
    margin-top: 4px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 953px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
  }

  .u-section-1 .u-icon-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 162px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 213px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 114px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 733px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: -18px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 134px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.25rem;
    margin-left: 154px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: -4px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 553px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1769px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: 125px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 23px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 112px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 137px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 73px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 353px;
    margin-bottom: 0;
  }
} .u-section-2 {
  min-height: 833px;
}

.u-section-2 .u-shape-1 {
  height: 271px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(#e5e5e5, white);
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: -216px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 778px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 24px 30px 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0px;
  background-image: none;
  margin: 0 90px 0 45px;
}

.u-section-2 .u-slider-1 {
  min-height: 634px;
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 13px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 66px;
}

.u-section-2 .u-icon-1 {
  height: 77px;
  width: 77px;
  color: rgb(0, 0, 0) !important;
  margin: 76px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -51px 81px 0 96px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.6;
  font-style: normal;
  margin: 30px 14px 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  width: 132px;
  margin: 50px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 63px;
}

.u-section-2 .u-icon-2 {
  height: 72px;
  width: 72px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 42px auto 0 16px;
  padding: 2px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  margin: -48px 10px 0 99px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.8;
  margin: 31px 33px 0 55px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 142px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 7px;
}

.u-section-2 .u-icon-3 {
  height: 72px;
  width: 72px;
  margin: 44px auto 0 36px;
  padding: 9px;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -40px 49px 0 119px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  margin: 37px 49px 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  width: 307px;
  font-size: 1.5rem;
  margin: 48px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  margin: 8px 11px 0 auto;
  padding: 6px 25px 7px 24px;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  font-weight: 400;
  width: 43px;
  margin: -38px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 43px 0 60px;
}

.u-section-2 .u-icon-4 {
  height: 72px;
  width: 72px;
  margin: 59px auto 0 0;
  padding: 13px;
}

.u-section-2 .u-text-14 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: -41px 0 0 96px;
}

.u-section-2 .u-list-1 {
  width: 494px;
  margin: 53px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  min-height: 377px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-15 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  line-height: 2.7;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-17 {
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-2 .u-text-18 {
  line-height: 2.7;
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin: 0 120px 0 103px;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 252px 0 235px;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 8px;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 8px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/DSC_00732.jpg");
  background-position: 0% 74.47%;
  background-size: auto 110%;
  min-height: 778px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 11px 48px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: 250px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.9;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-text-6 {
    margin-top: -43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.9;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    min-height: 376px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-text-19 {
    margin-right: 20px;
    margin-left: 3px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 152px;
    margin-left: 135px;
  }

  .u-section-2 .u-image-1 {
    min-height: 615px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 547px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 748px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-text-11 {
    margin-right: auto;
    margin-left: 36px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 63px;
    margin-left: 46px;
  }

  .u-section-2 .u-image-1 {
    min-height: 471px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1041px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 848px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1234px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -212px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 748px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -456px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 745px;
    margin-top: 430px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 32px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -38px;
    margin-right: 60px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-3 {
    width: 300px;
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 91px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 88px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 49px;
    margin-left: 55px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 181px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -45px;
    margin-right: 21px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 36px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 52px;
    margin-left: 61px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -67px;
    margin-right: 11px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-left: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 32px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 60px;
    width: 60px;
    margin-top: 23px;
    margin-left: 10px;
    padding: 10px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: -29px;
    margin-right: 10px;
    margin-left: 83px;
  }

  .u-section-2 .u-list-1 {
    width: 320px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 571px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 15px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 18px;
    margin-right: 94px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-16 {
    line-height: 2.2;
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 15px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 18px;
    margin-right: 94px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-18 {
    line-height: 2.2;
    width: auto;
    margin-top: 16px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 418px;
    background-position: 0% 52.94%;
    background-size: 110%;
    order: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1063px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  margin: 64px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 8px 96px 0;
}

.u-section-3 .u-btn-1 {
  margin: -51px 29px 0 auto;
  padding: 6px 10px 8px;
}

.u-section-3 .u-gallery-1 {
  height: 637px;
  grid-template-columns: auto auto auto;
  width: 891px;
  grid-gap: 10px 10px;
  margin: 40px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-video-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-3 .u-video-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  padding: 30px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-style: none;
  margin: 19px auto 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-3 .u-over-slide-6 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1657px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 545px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: auto auto;
    height: 1158px;
    width: 720px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4018px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 3207px;
  }

  .u-section-3 .u-gallery-1 {
    grid-template-columns: auto;
    height: 3474px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4589px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2187px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 1737px;
    margin-bottom: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 563px;
}

.u-section-4 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 444px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-4 .u-image-1 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: -268px 0 0 347px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 347px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 51px 347px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-4 .u-image-2 {
  width: 292px;
  height: 384px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: -268px 0 0 348px;
}

.u-section-4 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0 348px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px auto 59px 348px;
}

.u-section-4 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
}

.u-section-4 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 229px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 229px;
    margin-bottom: 19px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-1 {
    width: 250px;
    height: 333px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -317px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 270px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 141px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    height: 326px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -317px;
    margin-right: 63px;
    margin-left: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 270px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 141px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-4 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-left: 91px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 91px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 172px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 630px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0px;
  margin: 40px 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 568px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  margin: 0;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-label-1 {
  font-weight: 700;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-label-2 {
  font-weight: 700;
}

.u-section-5 .u-form-group-3 {
  margin-left: 0;
}

.u-section-5 .u-label-3 {
  font-weight: 700;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-label-4 {
  font-weight: 700;
}

.u-section-5 .u-form-group-5 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 468px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-group-3 {
    width: 100%;
  }
}